################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/simalign/.vs/simalign
/simalign/simalign/obj
/simalign/simalign.sln.DotSettings.user
/SimAlignDotNet
/simalign.sln.DotSettings.user
/simalign/.vs/ProjectEvaluation
